/* Navbar */
#navbar  {
  background-color: #2c2c2c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#navbarDropdown{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#textoNavbar{
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-shadow: 2px 0 0 white, -2px 0 0 white, 0 2px 0 white, 0 -2px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;

}
/* Fin Navbar * ----------------------/

/* Logo Home */
#logoHome {
  margin-left:90px;
}
/* Fin Logo Home * ---------------------/




/* Footer */
.wrap {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
  
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}



#copyright {
  color: black;
  float: right;
}
/* Fin Footer * -------------------/

/* Texto del Inicio */
#textoProx{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
}

#aqui{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#ccff33;
  text-shadow: 2px 0 0 black, -2px 0 0 #fff, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

#textoVida {
  text-align: center;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Fin Texto del Inicio * -----------------/

/* Coches Página Inicio */

td{
  padding:0 15px;
  align-items: center;
}

#tipoCoche{
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  text-shadow: 2px 0 0 yellow, -2px 0 0 yellow, 0 2px 0 yellow, 0 -2px 0 yellow, 1px 1px yellow, -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow;

}

#compacto{
height: 75px;
width: 180px;
}

#coupe{
  height: 75px;
  width: 205px;
}

#suv{
  height: 85px;
  width: 195px;
}

#fam{
  height: 75px;
  width: 205px;
}

#mono{
  height: 75px;
  width: 180px;
}
/* Fin Coches Página Inicio * ---------------/

/* Boton */

#boton{
  align-items: center;
  color: black;
  font-weight: bold;
  text-shadow: 2px 0 0 yellow, -2px 0 0 yellow, 0 2px 0 yellow, 0 -2px 0 yellow, 1px 1px yellow, -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow;
}
#boton1{
  align-items: center;
}
#boton2{
  align-items: center;
  color: black;
  font-weight: bold;
  text-shadow: 2px 0 0 white, -2px 0 0 white, 0 2px 0 white, 0 -2px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
}
#boton3{
  align-items: center;
  color: black;
  font-weight: bold;
  text-shadow: 2px 0 0 orangered, -2px 0 0 orangered, 0 2px 0 orangered, 0 -2px 0 orangered, 1px 1px orangered, -1px -1px 0 orangered, 1px -1px 0 orangered, -1px 1px 0 orangered;
}

/* Tarjetas*/

#marcaCard{
  width: 12rem;
}

#userCard{
  width: 20rem;
  margin-left: 5%;
  background-color: #2c2c2c;
  color: #ccff33;
  box-shadow: 2px 6px 20px 5px #ccff33;
}
#userCard1{
  width: 20rem;
  margin-left: 60%;
  background-color: #2c2c2c;
  color: #ccff33;
  box-shadow: 2px 6px 20px 5px #ccff33;
}
#cardPerfil{
  margin-left: 13%;
  margin-top: 5%;
}

#car {
  height: 172px;
  width: 252px;
}

/* Foto Perfil */

#fotoPerfil {
  width: 210px;
  height: 170px;
}

#fotoPerfil1{
  width: 30px;
  height: 30px;
}

#fotoMarca {
  height: 30px;
  width: 40px;
}

/* Texto Perfil*/
 
#textoPerfil1 {
  font-size: x-large;
}

#textoPerfil {
  font-size: 20px;
  font-weight: bold;
  color: #ccff33;
}

#textoPerfil2 {
  text-shadow: 2px 0 0 yellow, -2px 0 0 yellow, 0 2px 0 yellow, 0 -2px 0 yellow, 1px 1px yellow, -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow;
  font-weight: bold;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
}

/* Tabla para mostrar los datos del admin*/

#tabla1 {
  border-spacing: 10px;
  border-collapse: separate;
  margin-left: -40px;
}
#tabla2{
  border: 3px solid black;
  border-radius:5px 5px 5px 5px;
  border-spacing: 10px;
  border-collapse: separate;
  background-color: #2c2c2c;
  color: #ccff33;
  box-shadow: 2px 6px 20px 5px #ccff33;

}

#tabla3 {
  border: 3px solid black;
  border-radius:5px 5px 5px 5px;
  border-spacing: 10px;
  border-collapse: separate;
  background-color: #2c2c2c;
  color: #ccff33;
  box-shadow: 2px 6px 20px 5px #ccff33;

}

/* #tr1 {
  border: 1px solid black;
}

#td1 {
  border: 1px solid black;
} */

#td2{
  background-color: yellow;
  border: 1px solid black;
  border-radius:5px 5px 5px 5px;
  color: black;
}

#main{
  margin-left: 20%;
}
#mainC{
  margin-left: 35%;
}

#mainM{
  margin-left: 40%;
  display: flex;
}
/* Textos */
#textoL{
  font-size: x-large;
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 0 0 greenyellow, -2px 0 0 greenyellow, 0 2px 0 greenyellow, 0 -2px 0 greenyellow, 1px 1px greenyellow, -1px -1px 0 greenyellow, 1px -1px 0 greenyellow, -1px 1px 0 greenyellow;
  border-radius: 50%;
}

#textoL1{
  font-size: x-large;
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 0 0 orangered, -2px 0 0 orangered, 0 2px 0 orangered, 0 -2px 0 orangered, 1px 1px orangered, -1px -1px 0 orangered, 1px -1px 0 orangered, -1px 1px 0 orangered;
  border-radius: 50%;
}

#textoL2{
  font-size: x-large;
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 0 0 white, -2px 0 0 white, 0 2px 0 white, 0 -2px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
  border-radius: 50%;
}
#textoTi{
  text-decoration: none;
  color: black;
  text-shadow: 2px 0 0 yellow, -2px 0 0 yellow, 0 2px 0 yellow, 0 -2px 0 yellow, 1px 1px yellow, -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

#textoN{
  color: black;
  text-shadow: 2px 0 0 yellow, -2px 0 0 yellow, 0 2px 0 yellow, 0 -2px 0 yellow, 1px 1px yellow, -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow;
  font-weight: bold;
}

#textoCo{
  margin-left: -800px;
  margin-top: 10px;
}

#textoV{
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
}

#mainU{
  margin-left: 32.5%;
}

#crear1 {
  margin-bottom: 2%;
  margin-right: 95%;
  color: black;
  font-weight: bold;
  text-shadow: 2px 0 0 yellow, -2px 0 0 yellow, 0 2px 0 yellow, 0 -2px 0 yellow, 1px 1px yellow, -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow;
}

#crear2 {
  margin-left: 41%;
  margin-bottom: 1%;
  color: black;
  font-weight: bold;
  text-shadow: 2px 0 0 yellow, -2px 0 0 yellow, 0 2px 0 yellow, 0 -2px 0 yellow, 1px 1px yellow, -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow;
}

/* Titulo de Encuentra*/

#titulo{
  font-weight: bold;
  text-shadow: 2px 0 0 yellow, -2px 0 0 yellow, 0 2px 0 yellow, 0 -2px 0 yellow, 1px 1px yellow, -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#titulo1{
  font-weight: bold;
  color: #d3e66d;
  text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#titulo2{
  font-weight: bold;
  text-shadow: 2px 0 0 orangered, -2px 0 0 orangered, 0 2px 0 orangered, 0 -2px 0 orangered, 1px 1px orangered, -1px -1px 0 orangered, 1px -1px 0 orangered, -1px 1px 0 orangered;  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#titulo3{
  font-weight: bold;
  color: #7c7c7c;
  text-shadow: 3px 0 0 black, -3px 0 0 black, 0 3px 0 black, 0 -3px 0 black, 2px 2px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Tabla para los filtros*/

#tablaE{
  margin-left: 12%;
}
/* Perfil Administrador */

.main-profile-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border-style: solid;
  border-color: #ccff33;
  box-shadow: 0 0 8px 3px #B8B8B8;
   position: relative;
}

.wrap {
  position: relative;
}


#botonF{
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid grey;
  top: 0;
  left: 113px;
  background: #2c2c2c;
  color: #ccff33;
  margin-left: 23%;
}

#editP {

  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid grey;
  top: 5  ;
  left: 113px;
  background: #2c2c2c;
  color: #ccff33;
  margin-left: 23%;
  cursor: pointer;
}

#botonI{
  margin-top: 20%;
}

/* Editar Marca*/

#editM{
  background-color: #2c2c2c;
  color: greenyellow;
  width: 100px;
  height: 45px;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: 2px 3px 25px 3px greenyellow;
}

#logoMar{
  margin-right: 5px;
  margin-top: 15px;
}

/* Crear/Editar Coche*/

 #editC{
  background-color: #2c2c2c;
  color: greenyellow;
  width: 100px;
  height: 45px;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: 2px 3px 25px 3px greenyellow;
  margin-right: 90%;
  margin-top: -60px;
} 
/*
#fotoCo{
  margin-right: 1500px;
  margin-top: 15px;
}
*/
#botonesCo{
  margin-left: 660px;
  margin-top: -7%;
}  

#perfilAdmin{
  width: 286;
  height: 286;
}

/* Favoritos*/

#fav1{
  margin-left: 750px;
}

#form1{
  height: 50px;
  width: 180px;
  margin-right: 900px;
}

#botonBu{
margin-left: 230px;
margin-top: -20%;
}







   